/*scss*/
$fs : 14px;
$backgroundnav :#d75042;
$ff : 'Raleway', sans-serif;
$link : #2395e6;

body {
    font-size: $fs;
    font-family: $ff;
}
.navbar-page {
    background: $backgroundnav;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-link{
    color: #FFF!important;
    padding: 10px;
    }
.brand-logo{
    display: inline-block;
}
.brand-span{
    display: block;
    font-size: .68rem;
    line-height: .74rem;
    letter-spacing: .03em;
    font-weight: 600;
    text-transform: none;
    color: #FFF!important;
}
.nav-link{
    &:hover{
        background-color: inherit;
        border-radius: 0;
        color: #ffce5e!important;
        border-bottom: 2px solid #ffce5e;
        padding-bottom: 8px;
    }
}
.nav-icon-search:before{
    content: "\ea64";
    font-family: FontAwesome;
}
.input-search-panel{
    max-width: 150px;
    padding-top: 4px;
    
}
.input-search-panel .form-control{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-control+.input-group-addon:not(:first-child){
    height: 36px;
    border: 0;
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.ul-navbar-right .nav-item .nav-link{
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 6px;
}
.ul-navbar-right .nav-item .nav-link:hover{
    text-decoration: none;
    color: white!important;
    padding-bottom: 10px;
    background: rgba(255,255,255,.2);
}
.dropdown-page .block{
    display: block;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 11px;
}
.ul-navbar-right .nav-item .dropdown-page{
   border: 1px solid #fff;
    border: 4px;
}
.title-section h1{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: .6px;
    line-height:1.15;
    margin-top: 5rem;
    margin-bottom: 50px;
    color: #000;
}
.page-title{
    background-image:url(wallpaperHomePage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1050px;
    padding-bottom: 100px;
        
}
.title-section p{
    font-size: 0.87rem;
}
.section-page-title{
    padding-left: 25px
}
.title2{
    font-weight: 800;
    margin-bottom: .44em;
    line-height: 120%;
    font-size: 1.34rem;
}
.ul-title{
    list-style-type: none;
    padding-left: 0;
    margin-right: 1.5rem;
}
.section-calendar{
    background: white;
}
.more-info{
    margin-left: 3px;
}
.tooltip .tooltip-inner {
    background-color:white;
    color: black;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
    
}
.ul-title li a{
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .2px;
    color: $link;
}
.ul-title li a:hover{
    text-decoration: none;
    color: #d75042;
}
.section-calendar{
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
    position: relative;
    margin-top: -90px;
}
.block-events p{
    font-size: 1.57rem;
    font-weight: 800;
    margin-bottom: .44em;
    line-height: 120%;
}
.block-upcoming p{
   font-size: 1.57rem;
    font-weight: 800;
    margin-bottom: .44em;
    line-height: 120%; 
}
.img-race-card{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.breadcrumb-page{
    background: transparent!important;
    margin-bottom: 0;

    
}
.race-info h4{
    letter-spacing:.4px;
    font-weight: bold;
}
.d-n-lg h4{
    letter-spacing:.4px;
    font-weight: bold;
}
.d-n-lg{
    color: black;
}
.d-n-lg:hover{
    color: #d75042;
    text-decoration: underline;
}
.road-spec span{
    font-weight: bold;
    font-size: 0.77rem;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}
.img-road-spec{
    vertical-align: sub;
    margin-right: 0.38rem;
}
.img-distance{
    margin-right: 0.38rem;
    vertical-align: sub;
}
.img-special{
     margin-right: 0.38rem;
}
.race-info a:hover{
    color: #d75042;
    text-decoration: underline;
}
.race-info a{
    color: black;
}
.road-date span{
    color: #d75042;
    font-weight: 900;
    font-size: 1rem;
}
.register-contrib{
    font-weight: 700;
    font-size: 0.77rem;
    display: block;
}
.race-registration{
    font-weight: 700;
    color: #80c124;
    font-size: 0.77rem;
}
.road-register{
    margin-top: 0.5rem;
}
.card{
    margin-bottom: 20px;
}
.road-spec{
    padding-bottom: 15px;
}
.span-race-day{
    color: #4a4a4a;
    font-size: 0.77rem;
}
.reason-to-run-res{
    font-weight: bold;
    position: relative;
    z-index: 2;
    padding: .2em .5em;
    margin: 0 -.5em;
    font-size: 0.8rem;
}
.reason-to-run-res:after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #e7f3ad;
    transform: rotate(-2deg);
}
.reason-to-run p{
    margin-top: 0.2rem;
    margin-bottom: 5px;
}
.race-info-add a{
    color: #2395e6;
    text-decoration: underline;
    margin-right: 5px;
    
}
.race-info-add {
    padding-bottom: 5px;
}
.btn-more-events{
    background-color: #fff;
    color: #2395e6;
    border-radius: 4px;
    border: 1px solid #2395e6;
    padding: 15px 0;
    width: 200px;
}
.btn-more-events:hover{
    cursor: pointer;
}
.text-xs{
    font-size: 0.73rem;
    margin-top: 5px;
}
.discover-title a{
    text-decoration: underline;
}
.discover-title a:hover{
     color: #d75042;
    text-decoration: underline;
}
.footer a:hover{
     color: #d75042;
    text-decoration: underline;
}
.footer{
    margin-top: 4rem;
    background-color: #373737;
    color: #fff;
    padding: 2.68rem 1rem 3.2rem;
    font-size: .87rem;
}
.footer a{
    color:#65c5f8;
    text-decoration: underline;
}
.about-us{
    margin-right: 4rem;
}
.links-menu{
    display: flex;
    flex-flow: row wrap;
}
.links-menu div{
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
}
.menu-footer{
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
}
.copyright-links a{
    margin-right: 0.8rem;
}
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  width: 300px;
  background-color: #eee;
  height: 100%;
  top: 0;
  right: -300px;
  transition: right .9s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
    background: linear-gradient(#d75042 0,#000 80%);
    opacity: 1;
    z-index: 1050;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  
  padding: 8px;
  position: fixed;
  top: 15px;
  right: 11%;
  cursor: pointer;
  transition: right .93s;
  z-index: 3;
  width: 45px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
    z-index: 1060;
    
}
.btn-menu span {
  display: block;
  height: 2px;
  background-color: white;
  margin: 8px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  right: 320px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
.menu-xs .input-search-panel{
    max-width: calc(100%);
    padding: 15px;
}
.menu-link-xs{
    flex-wrap: nowrap;
	flex-direction: column;
}
.menu-link-xs a{
   color: white;
    padding: 10px;
}
.menu-link-xs a:hover{
    background-color: inherit;
    border-radius: 0;
    color: #ffce5e;
    border-bottom: 2px solid #ffce5e;
    text-decoration: none;
    padding-bottom: 8px;
}
.menu-register-xs{
    flex-wrap: nowrap;
	flex-direction: column;
}
.menu-register-xs a{
     color: white;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-top: 4px;
}
.menu-register-xs a:hover{
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}
.link-search{
    color: #d75042;
}
.link-search:hover{
    color: #d75042;
}
.nav-link-drobdown{
    padding-right: 1.3rem!important;
    padding-left: 0.7rem!important;
}
.dropdown-toggle::after{
    position: absolute;
    margin-left: 3rem;
    top: 20px;
}
.dropdown-menu-page{
   left:-50%; 
    top: 3.5rem;
}
.dropdown-items{
    color: #d75042;
}
.dropdown-items:hover{
    color: #d75042;
    background: rgba(222,222,222,.3);
}
.dropdown-item:hover{
   
    background: rgba(222,222,222,.3);
}
.btn-group-page{
    display: inline;
}
.dropdown-item-lg{
    padding-left: 45px;
}
.dropdown-menu-xs{
    background-color: transparent;
    border: 0;
}
.dropdown-menu-xs a{
    
}
.dropdown-menu-xs .dropdown-item{
    display: inline-block;
    
}
.nav-link-drobdown-xs{
    border: 0!important;
    border-radius: 3px!important;
}
.nav-link-drobdown-xs:hover{
    color: white!important;
}
.span-measures{
    color: white;
    font-weight: bold;
}
.dropdown-items-xs{
    color: #d75042!important;
    font-weight: bold;
    border: 0!important;
    padding: .2em 1em .2em 0.5em!important;
}
.dropdown-item-xs{
    font-weight: bold;
    border: 0!important;
    padding: .2em 1em .2em 35px!important;
    
}
.dropdown-item-xs:hover{
    color: white;
}





















@media (min-width: 767px){
    .d-n-lg{
        display: none;
    }
}
@media (min-width: 992px){
    .navbar-xs{
        display: none;
    }
}
@media (max-width: 576px){
    .copyright{
        text-align: center!important;
        float: none!important;
    }
}
@media (max-width: 992px){
    .copyright{
        float: right;
    }
    .hidden-menu{
        background: linear-gradient(#f96332 0,#000 80%);
    opacity: 1;
    }
    .navbar-lg{
        display: none;
    }
}




@media (max-width: 767px){
    .d-n-sm{
        display: none;
    }
    .title-section h1{
        font-size: 3rem;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .section-page-title{
        padding-left: 0;
    }
    .road-date{
        padding-left: 20px;
        padding-right: 20px;
    }
    .road-register{
        padding-left: 20px;
        padding-right: 20px;
    }
    .span-race-day{
        padding-left: 20px;
    }
    .road-spec{
        padding-left: 16px;
        padding-right: 20px;
        
    }
    .reason-to-run{
        padding-left: 20px;
    }
    .race-info-add{
        padding-left: 20px;
    }
    .breadcrumb-page{
        padding-left: 35px;
    }
}
@media (min-width: 320px) and (max-width: 340px){
   .hidden-menu-ticker:checked ~ .btn-menu {
  right: 280px;
    } 
    .brand-span{
        font-size: 0.58rem;
    }
}

