$font-path:  "../fonts/";
$font-prefix: "w2bwfg";


@font-face {
  font-family: 'Sansus_Webissimo';
  src: url('#{$font-path}sansus_webissimo-regular-webfont.eot');
  src: url('#{$font-path}sansus_webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}sansus_webissimo-regular-webfont.woff') format('woff'),
  url('#{$font-path}sansus_webissimo-regular-webfont.ttf') format('truetype'),
  url('#{$font-path}sansus_webissimo-regular-webfont.svg#sansus_webissimoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futterpedia_iconfont';
  src:url('#{$font-path}icomoon.eot?#{$font-prefix}');
  src:url('#{$font-path}icomoon.eot?#iefix#{$font-prefix}') format('embedded-opentype'),
  url('#{$font-path}icomoon.ttf?#{$font-prefix}') format('truetype'),
  url('#{$font-path}icomoon.woff?#{$font-prefix}') format('woff'),
  url('#{$font-path}icomoon.svg?#{$font-prefix}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'payment-webfont';
  src:url('#{$font-path}payment-webfont.eot?#{$font-prefix}'),
  url('#{$font-path}payment-webfont.ttf?#{$font-prefix}') format('truetype'),
  url('#{$font-path}payment-webfont.woff?#{$font-prefix}') format('woff'),
  url('#{$font-path}payment-webfont.svg?#{$font-prefix}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pw {
  font-family: 'payment-webfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pw-clickandbuy:before {
  content: "\e61d";
}
.pw-westernunion:before {
  content: "\e61e";
}
.pw-braintree:before {
  content: "\e61f";
}
.pw-paysafecard:before {
  content: "\e620";
}
.pw-ideal:before {
  content: "\e621";
}
.pw-paypal:before {
  content: "\e622";
}
.pw-skrill:before {
  content: "\e61b";
}
.pw-cb:before {
  content: "\e61c";
}
.pw-gittip:before {
  content: "\e618";
}
.pw-flattr:before {
  content: "\e61a";
}
.pw-ripple:before {
  content: "\e616";
}
.pw-sofort:before {
  content: "\e617";
}
.pw-bitcoin:before {
  content: "\e614";
}
.pw-bitcoin-sign:before {
  content: "\e615";
}
.pw-diners:before {
  content: "\e609";
}
.pw-mastercard:before {
  content: "\e602";
}
.pw-trust-e:before {
  content: "\e612";
}
.pw-amazon:before {
  content: "\e613";
}
.pw-jcb:before {
  content: "\e610";
}
.pw-google-wallet:before {
  content: "\e611";
}
.pw-stripe:before {
  content: "\e60d";
}
.pw-square:before {
  content: "\e60e";
}
.pw-ogone:before {
  content: "\e60f";
}
.pw-verisign:before {
  content: "\e60c";
}
.pw-discover:before {
  content: "\e60a";
}
.pw-american-express:before {
  content: "\e607";
}
.pw-paypal--classic:before {
  content: "\e604";
}
.pw-maestro:before {
  content: "\e605";
}
.pw-visa:before {
  content: "\e601";
}
.pw-visa-electron:before {
  content: "\e606";
}
.pw-postepay:before {
  content: "\e608";
}
.pw-cartasi:before {
  content: "\e60b";
}
.pw-unionpay:before {
  content: "\e603";
}
.pw-ec:before {
  content: "\e600";
}
.pw-bancontact:before {
  content: "\e622";
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'futterpedia_iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-corner:before {
  content: "\e605";
}
.icon-like:before {
  content: "\e608";
}
.icon-home:before {
  content: "\e609";
}
.icon-lock:before {
  content: "\e606";
}
.icon-email:before {
  content: "\e607";
}
.icon-login:before {
  content: "\e604";
}
.icon-search:before {
  content: "\e603";
}
.icon-logout:before {
  content: "\e602";
}
.icon-user-plus:before {
  content: "\e601";
}
.icon-user:before {
  content: "\e600";
}
.icon-heart:before {
  content: "\e04a";
}
.icon-download:before {
  content: "\e04d";
}
.icon-facebook:before {
  content: "\e05d";
}
.icon-twitter:before {
  content: "\e05e";
}
.icon-googleplus:before {
  content: "\e05f";
}
.icon-clock:before {
  content: "\e700";
}
.icon-star:before {
  content: "\e615";
}
.icon-info:before {
  content: "\e701";
}
.icon-range:before {
  content: "\e702";
}